@use "/src/styles/base/images";
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/zIndex" as zIndex;
@use "/src/styles/base/heightValues" as hvalues;

.header {
  display: none;
  margin: 0;
  position: fixed;
  z-index: zIndex.$header;
  width: 100%;

  @include breakpoints.large {
    display: block;
  }
}

.header__menu {
  width: 100%;
  height: hvalues.$header-mobile-h;
  background: colors.$dark;
  position: relative;
  @include utilities.flexbox-params(flex, center, auto);

  & > div {
    @include utilities.flexbox-params(flex, center, center);
    margin-left: 3%;
  }

  &MenuIcon {
    cursor: pointer;
    width: 1.5rem;
    margin-right: 4%;
  }

  &LogoIcon {
    cursor: pointer;
    width: 18rem;
  }
  &LogoIcon a {
    height: 100%;
  }
  &LogoIcon img {
    min-height: 1.2rem;
  }

  &LangPosition {
    position: absolute;
    top: 30%;
    left: 85%;
  }
}

.header__links {
  background: colors.$dark;
  height: 0;
  overflow: hidden;
  transition: 0.5s height;
  width: 100%;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & li {
    box-shadow: 2px 2px 1px colors.$primary;
    padding: 1.3rem;
  }

  & a {
    color: colors.$white;
  }
}

.visible {
  height: 490px;
}
