@use "/src/styles/base/images";
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/zIndex" as zIndex;
@use "/src/styles/base/heightValues" as hvalues;
@use "/src/styles/base/widthValues" as wvalues;

.background {
  position: relative;
  @include utilities.background-image-params(
    "/img/home/background.png",
    center,
    no-repeat,
    cover
  );
  width: 100%;
  height: 100vh;
  // filter: brightness(0.4);

  @include breakpoints.min-large {
    background-size: 100% 100%;
  }
}

.inicio {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  margin-top: hvalues.$header-mobile-h;

  & > div {
    height: calc(100vh - (hvalues.$header-mobile-h));
    width: wvalues.$width-mobile-w;
    margin: 0 auto;
    @include breakpoints.min-large {
      width: wvalues.$width-w;
      height: calc(100vh - (hvalues.$header-h));
      display: grid;
      grid-template-columns: 1.1fr 0.9fr;
    }
    @include breakpoints.min-xxl-large {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    height: 50%;
    margin: 0 auto;
    @include utilities.flexbox-params(flex, auto, center);
    flex-direction: column;
    @include breakpoints.min-xxl-large {
      text-align: center;
    }

    &__text {
      text-shadow: 1px 1px 1px colors.$dark;

      &Image {
        div {
          width: 3rem;
          margin-bottom: 0.5rem;
        }
      }

      & h1 {
        font-size: 27px;
        text-transform: uppercase;

        @include breakpoints.min-large {
          text-align: start;
        }
        @include breakpoints.min-xxl-large {
          font-size: 55px;
        }
      }
      & h3 {
        font-size: 16px;
        margin: 1rem 0rem;
      }
      & h2 {
        font-size: 20px;
      }
    }

    &__button {
      margin-top: 1rem;
      & button {
        outline: none;
        background: transparent;
        border: 0;
        font-size: 16px;
        text-shadow: 1px 1px 1px colors.$dark;
        font-weight: bold;
        background-image: linear-gradient(
          to right,
          colors.$primary,
          colors.$brown
        );
        cursor: pointer;
      }
    }

    @include breakpoints.min-large {
      height: auto;
    }
  }

  &__image {
    margin: 0 auto;
    & div {
      max-width: 25rem;
      margin: 0 auto;
      @include breakpoints.min-large {
        width: 100%;
        height: auto;
        margin: 0;
      }
      @include breakpoints.min-xxl-large {
        min-width: 50rem;
      }
    }
    @include breakpoints.min-large {
      width: 100%;
      height: 100%;
      @include utilities.flexbox-params(flex, center, center);
    }
    @include breakpoints.min-xxl-large {
      & div {
        max-width: 22rem;
      }
    }
  }

  @include breakpoints.min-large {
    height: calc(100vh - (hvalues.$header-h));
    margin-top: hvalues.$header-h;
  }
}
