@use "/src/styles/base/images";
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/zIndex" as zIndex;
@use "/src/styles/base/heightValues" as hvalues;
@use "/src/styles/base/widthValues" as wvalues;

.background {
  position: relative;
  @include utilities.background-image-params(
    "/img/home/latest-updates/background.jpg",
    center,
    no-repeat,
    100% 200%
  );
  width: 100%;
  height: calc(100vh - hvalues.$footer-mobile-h);
  @include breakpoints.min-large {
    background-size: 100% 100%;
    height: calc(100vh - hvalues.$footer-h);
  }
  @include breakpoints.min-xxl-large {
    height: calc(100vh - hvalues.$footer-max-h);
  }
}

.layer {
  position: absolute;
  z-index: zIndex.$layer;
  width: 100%;
  height: 100%;
  // background: rgba(0, 0, 0, 0.3);
  background: rgba(33, 20, 0, 0.65);
}

.updates {
  // border: 1px solid red;
  position: absolute;
  z-index: zIndex.$content;
  top: 0;
  width: 100%;
  height: calc(100% - hvalues.$header-mobile-h);
  margin-top: hvalues.$header-mobile-h;
  @include breakpoints.min-large {
    height: 100%;
    margin-top: 0;
  }

  > div {
    // border: 1px solid blue;
    width: wvalues.$width-mobile-w;
    height: 100%;
    margin: 0 auto;
    @include utilities.flexbox-params(flex, center, center);
    flex-direction: column;
    @include breakpoints.min-large {
      width: wvalues.$width-w;
    }
    @include breakpoints.min-xxl-large {
      max-width: wvalues.$width-max-w;
    }
  }

  &__content {
    // border: 1px solid green;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    @include utilities.flexbox-params(flex, auto, center);
    flex-direction: column;

    &__text {
      text-shadow: 1px 1px 1px colors.$dark;
      @include breakpoints.min-large {
        text-align: center;
      }

      &Image {
        div {
          width: 3rem;
          margin-bottom: 0.5rem;
        }
      }

      h1 {
        font-size: 27px;
        text-transform: uppercase;
        @include breakpoints.min-large {
          font-size: 22px;
        }
        @include breakpoints.min-xxl-large {
          font-size: 35px;
        }
      }

      h3 {
        font-size: 16px;
        margin: 1rem 0rem;
        @include breakpoints.min-large {
          font-size: 18px;
        }
        @include breakpoints.min-xxl-large {
          font-size: 20px;
        }
      }
    }

    &__button {
      margin-top: 1rem;
      @include breakpoints.min-large {
        margin: 0 auto;
      }
      @include breakpoints.min-xxl-large {
        margin-top: 2rem;
      }

      button {
        outline: none;
        background: transparent;
        border: 0;
        font-size: 16px;
        text-shadow: 1px 1px 1px colors.$dark;
        font-weight: bold;
        background-image: linear-gradient(
          to right,
          colors.$primary,
          colors.$brown
        );
        cursor: pointer;
        @include breakpoints.min-large {
          padding: 0.5rem 1.5rem;
        }
        @include breakpoints.min-xxl-large {
          font-size: 24px;
          padding: 0 1.5rem;
        }
      }
    }
  }
}
