@use "/src/styles/base/images";
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/zIndex" as zIndex;
@use "/src/styles/base/heightValues" as hvalues;
@use "/src/styles/base/widthValues" as wvalues;

.background {
  position: relative;
  width: 100%;
  height: hvalues.$footer-mobile-h;
  background-image: linear-gradient(to right, colors.$primary, colors.$brown);
  overflow: hidden;

  @include breakpoints.min-large {
    background-size: 100% 100%;
    height: hvalues.$footer-h;
  }
}

.inicio {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, colors.$primary, colors.$brown);
  @include utilities.flexbox-params(flex, center, center);
  flex-direction: column;

  & > div {
    width: wvalues.$width-mobile-w;
    margin: 0 auto;
    // @include breakpoints.min-large {
    //   width: wvalues.$width-w;
    //   height: calc(100vh - (hvalues.$header-h));
    //   display: grid;
    //   grid-template-columns: 1.3fr 0.7fr;
    // }
  }

  &__content {
    margin: 0 auto;
    @include utilities.flexbox-params(flex, auto, center);
    flex-direction: column;

    // @include breakpoints.min-large {
    //   height: auto;
    // }

    &__text {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.5rem;
      @include breakpoints.min-large {
        width: 70%;
        margin: 0 auto;
      }

      & > div {
        width: 100%;
        margin: 0 auto;

        & strong {
          font-size: 14px;
          text-transform: uppercase;
          text-shadow: 1px 1px 1px colors.$dark;
          @include breakpoints.min-large {
            font-size: 20px;
          }
        }

        & p {
          font-size: 12px;
          margin: 0;
          margin-bottom: 0.4rem;
          line-height: 12px;
          text-align: start;
          font-weight: bold;
          @include breakpoints.min-large {
            font-size: 16px;
            line-height: 16px;
            margin-top: 0.6rem;
          }
        }
      }
      &Diferent {
        text-align: end;
        & p {
          text-align: end !important;
        }
      }
    }

    &Column {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
    }

    & > span {
      width: 100%;
      height: 0.2rem;
      background: colors.$brown;
      margin: 1.8rem 0;
    }

    &__logo {
      div {
        width: 14rem;
      }
    }

    &__subscribe {
      margin-top: 1rem;
      & strong {
        font-size: 14px;
        text-shadow: 1px 1px 1px colors.$dark;
      }
      & div {
        margin-top: 0.5rem;
        display: flex;
        & input {
          color: black;
          outline: none;
        }
        & button {
          background: colors.$dark;
          outline: none;
          border: 0;
          padding: 0 1.2rem;
        }
      }
    }

    &__follow {
      margin-top: 1.5rem;
      & strong {
        font-size: 14px;
        text-shadow: 1px 1px 1px colors.$dark;
      }
      & > div {
        @include utilities.flexbox-params(flex, center, auto);
        & div {
          margin-top: 0.5rem;
          width: 1.5rem;
          margin-right: 1rem;
        }
      }
    }
  }

  // @include breakpoints.min-large {
  //   height: calc(100vh - (hvalues.$header-h));
  //   margin-top: hvalues.$header-h;
  // }
}
