@use "/src/styles/base/images";
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/zIndex" as zIndex;
@use "/src/styles/base/heightValues" as hvalues;
@use "/src/styles/base/widthValues" as wvalues;

.toolbar {
  width: wvalues.$width-w;
  margin: 0 auto;
  position: relative;
  border-top: 5px solid colors.$primary;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  @include utilities.flexbox-params(flex, auto, center);

  & a {
    width: 100%;
    cursor: pointer;
    padding: 0.05rem 0;
    transition: 0.5s;
  }

  & ul {
    list-style: none;
    width: 100%;
    padding-left: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2%;
  }

  & p {
    color: colors.$white !important;
    text-shadow: 1px 1px 1px colors.$dark;
    margin: 0;
    font-size: 12px;
    font-weight: bold;

    @include breakpoints.min-xxl-large {
      font-size: 17px;
    }
  }

  @include breakpoints.min-xxl-large {
    max-width: wvalues.$width-max-w;
    border-top: 6px solid colors.$primary;
  }
}

.active p {
  color: colors.$primary;
}

.langs {
  transform: skewX(-20deg);
  & a {
    color: colors.$secondary;
    margin-right: 5%;
    text-transform: uppercase;
    padding: 0 5%;
  }
}

.translatorBox {
  display: none;
  position: absolute;
  margin-top: 0.5rem;
  & p {
    padding: 0 2rem;
  }
}

.langStyle {
  &:hover .translatorBox {
    display: block;
  }
}
