/*
  Colors
  ==========================================================================
*/

// Primary-Colors
// $primary: #cda434;
$primary: #cc9340;
$secondary: #f0cb90;

// others
$dark: #000000;
$deg-dark: rgba(0, 0, 0, 0.6);
$white: #ffffff;
$white-100: #fcfcfc;
$deg-dark: rgba(0, 0, 0, 0.45);
$deg-yellow: #cda43469;
// $brown: rgba(60, 11, 0, 1);
$brown: #560f0f;
$brown-light: rgb(92, 57, 2);
$deg-brown-light: rgba(136, 84, 62, 0.6);
$deg-brown-dark: rgba(60, 11, 0, 0.4);
