/*
  Height-Values
  ==========================================================================
*/

// Header
$header-mobile-h: 4rem;
$header-h: 5.5rem;
$header-max-h: 6.5rem;

// Footer
$footer-mobile-h: 65vh;
$footer-h: 60vh;
$footer-max-h: 55vh;
