/*
  Height-Values
  ==========================================================================
*/

// Header
$header-mobile-h: 4rem;
$header-h: 5.5rem;
$header-max-h: 6.5rem;

// Carousel-Utility
$utility-mobile-h: 12.5rem;
$utility-h: 8rem;
$utility-max-h: 11rem;

// Footer
$footer-mobile-h: 65vh;
$footer-h: 9rem;
