/*
  Z-Index
  ==========================================================================
*/

// Loader
$loader: 1000000;

// Header
$header: 10000;

// Footer
$footer: 1000;

// modals
$modals: 1000000;

// layer
$layer: 10;

// content
$content: 100;
