/*
  Z-Index
  ==========================================================================
*/

// Loader
$loader: 1000000;

// Header
$header: 10000;

// Carousel
$carousel-utility: 1000;
$carousel-controls: 1000;

// Footer
$footer: 1000;

// modals
$modals: 1000000;
